<!DOCTYPE html>

<head>
  <title>
    <%= title %>
  </title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <style>
    .nav-link {
      color: aliceblue;
    }
  </style>

</head>

<body class="d-flex h-100 text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <a class="float-md-start nav-link active" href="/home" style="font-size: 20px;">Center Tech</a>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link" href="/listarPeca">Listar Peças</a>
          <a class="nav-link" href="/listFunc">Listar Funcionários</a>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Cadastro
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/cadastroFunc">Funcionários</a></li>
              <li><a class="dropdown-item" href="/cadastroPeca">Peças</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <main class="px-3 main2 ">
      <div id="espaco">
        <div id="Formulario">
          <fieldset class="fieldset">
            <legend class="CabecalhoFormulario">Editar o cadastro de funcionários</legend>
              <div id="Dados">
                <form action='/<%= note.id %>/edit' method='GET'>
                  <a>Nome:<input class="input-text" type="text" name='inputNome' placeholder="Digite o nome" value="<%= note.nome %>" autofocus></a></br>
                  <a>CPF:<input class="input-text" type="text" name='inputCPF' placeholder="Digite o CPF" value="<%= note.CPF %>"></a></br>
                  <a>Data de Nascimento:<input class="input-text" type="text" name='inputDt' placeholder="Digite o CPF" value="<%= note.data %>"></a></br>
                  <a>Sexo:<input class="input-text" type="text" name='inputSexo' placeholder="Digite o CPF" value="<%= note.sexo %>"></a></br>
                  <a>CEP:<input class="input-text" type="text" name='inputCEP' placeholder="Digite o CPF" value="<%= note.cep %>"></a></br>
                  <a>Residência:<input class="input-text" type="text" name='inputNum' placeholder="Digite o CPF" value="<%= note.num %>"></a></br>
                  <a>Telefone::<input class="input-text" type="text" name='inputTel' placeholder="Digite o CPF" value="<%= note.tel %>"></a></br>
                  <a>E-mail:<input class="input-text" type="text" name='inputEmail' placeholder="Digite o CPF" value="<%= note.email %>"></a></br>
                  <a>Login:<input class="input-text" type="text" name='inputLogin' placeholder="Digite o CPF" value="<%= note.login %>"></a></br>
                  <a>Senha:<input class="input-text" type="text" name='inputSenha' placeholder="Digite o CPF" value="<%= note.senha %>"></a></br>
                  <button type='submit'> Salvar </button>
                </form>
              </div>
          </fieldset>
        </div>
        <script type="text/javascript" src="../javascripts/index.js"></script>
      </div>
    </main>
</body>

</html>