<!DOCTYPE html>

<head>
  <title>
    <%= title %>
  </title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <style>
    .nav-link {
      color: aliceblue;
    }
    input{
      position: block;
      right: 0;
    }
  </style>

</head>

<body class="d-flex h-100 text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <a class="float-md-start nav-link active" href="/home" style="font-size: 20px;">Center Tech</a>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link" href="/listarPeca">Listar Peças</a>
          <a class="nav-link" href="/listFunc">Listar Funcionários</a>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Cadastro
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/cadastroFunc">Funcionários</a></li>
              <li><a class="dropdown-item" href="/cadastroPeca">Peças</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <main class="px-3 main2 ">
      <div id="espaco">
        <div id="Formulario">
          <fieldset class="fieldset">
            <legend class="CabecalhoFormulario">Editar o cadastro de funcionários</legend>
            <div id="Dados">
              <form action='/<%= note.id %>/edit' method='POST'>
                <a>Nome:</a><input class="input-text" type="text" name='inputNome' value="<%= note.nome %>" autofocus></br>
                <a>CPF:</a><input class="input-text" type="text" name='inputCPF'value="<%= note.CPF %>"></br>
                <a>Data de Nascimento:</a><input class="input-text" type="text" name='inputDt' value="<%= note.data %>"></br>
                <a>Sexo:</a><input class="input-text" type="text" name='inputSexo' value="<%= note.sexo %>"></br>
                <a>CEP:</a><input class="input-text" type="text" name='inputCEP' value="<%= note.cep %>"></br>
                <a>Residência:</a><input class="input-text" type="text" name='inputNum' value="<%= note.num %>"></br>
                <a>Telefone:</a><input class="input-text" type="text" name='inputTel' value="<%= note.tel %>"></br>
                <a>E-mail:</a><input class="input-text" type="text" name='inputEmail' value="<%= note.email %>"></br>
                <a>Login:</a><input class="input-text" type="text" name='inputLogin' value="<%= note.login %>"></br>
                <a>Senha:</a><input class="input-text" type="text" name='inputSenha' value="<%= note.senha %>"></br>
                <button type='submit'> Salvar </button>
              </form>
            </div>
          </fieldset>
        </div>
        <script type="text/javascript" src="../javascripts/index.js"></script>
      </div>
    </main>
</body>

</html>